<div class="row cover-banner {{if showCover "show-cover" "hide-cover"}}">
</div>
<div class="row banner">
  <div class="col-xs-12 col-sm-3 col-md-1 banner-img-container"
  {{action (if showCover "onHideCover" "onShowCover")}}>
    <img id="navbar-img" src="assets/images/Navbar-Image.jpg" />
  </div>
  {{#each renderedTabs as |tab|}}
    <div class="col-xs-12 col-sm-3 col-md-3 banner-title-container {{if tab.selected "banner-title-container--selected"}}">
      <span {{action onNewTab tab.val}}>{{tab.name}}</span>
    </div>
  {{/each}}
</div>

{{yield}}
