<div class={{cardClassBinding}}>
  <div class="info-card__card__header">
    <h3>{{infoHeader}}</h3>
  </div>
  <div class="info-card__card__picture info-card__card__picture--{{if showImage "shown" "hidden"}} {{if expandImage "info-card__card__picture--expanded"}}">
    <img src="assets/images/Cover-Image.jpg" />
  </div>
  <div class="info-card__card__details">
    <i class="fa {{if isExpanded "fa-minus-circle" "fa-plus-circle"}} info-card__card__toggle" 
    aria-hidden="true" {{action "onToggleExpanded"}}></i>
  </div>
</div>
{{yield}}
